* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    padding: 45px 15px;
  }
  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  article {
    padding: 30px 15px;
    background-color: #ddd;
    display: flex;
    justify-content: flex-start;
  }
  
  article:nth-child(even) {
    background-color: #bbb;
  }

  .comments-name {
    flex: 1;
    
  }

  .comments-content {
    flex: 3;
    text-align: left;
  }
  
  .comments-likes {
    flex: 1
  }

  textarea {
    width: 100%
  }

  .comments-input{
    display: flex;
    justify-content: flex-end;
  }

  .comments-input-content {
    flex: 5;
  }

  .comments-submit {
    flex: 1
  }

